/*Estilos gerais*/

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: #f7f7f7; 
    display: grid;
    gap: 3.75rem;
    justify-items: center;
    margin-top: 3.75rem;
}

body img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
}

p, h1, h2, h3{
    margin: 0px;
}

p{
    font-size: 1.25rem;
    line-height: 1.3;
}

UL{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

/*Estilo do menu*/
.cabecalho{
    display: grid;
    justify-items: center;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.12rem;
}

.menu a{
    display: block;
    background-color:#f7f7f7 ;
    padding: 1rem 2rem;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    border: 2px solid #ee231100;
}

.menu a:hover {
    border: 2px solid #ee2211;
}

/*Estlo conteudo principal*/



.conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
}

.introdução{
    display: grid;
    background-color:#f7f7f7 ;
    text-align: end;
    align-content: center;
    justify-items: end;
    position: relative;
    padding: 2.3rem;
    gap: 1rem;
}

.introdução > p {
    font-size: 1.25rem;
    font-weight: 550;
}

.introdução > a {
    font-size:  1.25rem;
    color: #f7f7f7;
    background-color: #ee2211;
    padding: 1rem;
    border-radius: 5px;
}

.introdução > a:hover{
    color: #c6c6c6;
    background-color: black;
}

.introdução::before{
    content: "";
    width: 60px;
    height: 4px;
    background: #e21;
    position: absolute;
    top: 30px;
    right: -30px;
}

.subtitulo {
    font-size: 4rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.2);
    text-align: right;
    padding: 2rem;
    align-self: center;
    background-image: url(onda.svg);
}

.vantagens{
    background: #f7f7f7;
    padding: 40px;
}

.vantagens-item{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    padding: 10px;
    border-left: 4px solid transparent ;
}

.vantagens-item:hover{
    border-left: 4px solid #e21 ;
}

.vantagens-item:nth-child(odd){
    background-color: #c6c6c6;
}

.vantagens-item > p::before{
    content: '';
    background-color: #e21;
    display: block;
    width: 8px;
    height: 8px;

}

.vantagens-item p{
    grid-column: 2;
}

/*Estilo Rodape*/
.roadape{
    background: #fff;
    width: 100%;
    text-align: center;
    padding: 25px;
    box-sizing: border-box;
    }